# DeepSeek K-fold Experiments

## Import Libraries

In [66]:
import pandas as pd
import numpy as np

from sklearn.model_selection import KFold

from sklearn.metrics import f1_score, accuracy_score

from scipy import stats

In [129]:
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha3_p5.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha3_p3.csv")
df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha3_p2plus.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha3_p2neg.csv")

### Load experiments for alpha 4
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha4_p5.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha4_p3.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha4_p2plus.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha4_p2neg.csv")

### Load experiments for alpha 5
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha5_p5.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha5_p3.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha5_p2plus.csv")
# df = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek/percept_dataset_alpha5_p2neg.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5000 non-null   object
 1   text       5000 non-null   object
 2   sentiment  5000 non-null   int64
dtypes: int64(1), object(2)
memory usage: 117.3+ KB

## Sentiment Analyzer

In [130]:
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha3p5.csv")
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha3p3.csv")
df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha3p2.csv")

# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha4p5.csv")
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha4p3.csv")
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha4p2.csv")

# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha5p5.csv")
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha5p3.csv")
# df_response = pd.read_csv("/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/alpha5p2.csv")

display(df_response.head())
display(df_response.tail())

                                  id  sentiment
0  1BhIkrf3HWatQFG7KxJK7MZ1oWbUczaar          0
1  17dUXoyKzr4fS9QF-y3HU2oscLMvA9qLd          0
2  11_yZVpq48fA-jchrZO_sTtUKQejXd-te          0
3  1VFnS4ShtxxUe0KyMcLj5lM7rCM15pYR8          0
4  1taZf26SEMClUVLPXlSQdpEtC87ZN4aKl          0

                                     id  sentiment
3723  1NYONR4iUe1TwFBWU_EFhGrR2qnhkakSN          1
3724  14-Rd84spWovA0piVOxOvXNa-XV7v0zlK          1
3725  1gTZkmpdngeTBZjMFhXuPzZHmXiNLS4Xb          1
3726  1VfqPouNREuNYlAZ7hYGjE_q_E4E38oiU          1
3727  1OL_gASFcywuRkNNgSF62EuNL7qsRQlf-          1

In [131]:
df = df[df["id"].isin(df_response["id"])]
df.head()

,id,text,sentiment
0,17rbdLJ5aNayZk9lK8wnVeICSgwJxLVA_,The image depicts a scene of a street with a w...,1
1,13rljxGdgMVqhS9Shw-QJdvAsrUtw6uG3,The image depicts a rustic scene with a large ...,0
3,11DOuFmByYWPoQc2QyFxzxcb1da83nIqF,The image depicts an abandoned and dilapidated...,1
4,135mA2oT4gSOf3qcrmsFj5OE7kL406F4T,The image depicts a nighttime scene with a per...,1
5,10R1cBcBUln5O5QA2pC72MdKEZDCn-rY0,The image depicts a narrow urban street flanke...,0

In [132]:
df.sentiment.value_counts()

sentiment
0    2342
1    1386
Name: count, dtype: int64

In [133]:
df = df.sort_values(by='id').reset_index(drop=True)
df_response = df_response.sort_values(by='id').reset_index(drop=True)
display(df.head())
display(df_response.head())

,id,text,sentiment
0,1--1jGP5KDNudf-7pRj573DLxRmUxtcJF,The image depicts a rooftop scene in a residen...,0
1,1--A-Ab-GF3q2uxqJQtjbRrln9ywThW_9,The image depicts a city street scene. The str...,1
2,1--C7ax88wK4BGL7xW7sOwROWv4mA3I0M,The image depicts a bustling indoor market sce...,0
3,1--PRYQf4XSvxeD-JrYahBYnwWAUlLKTO,"The image depicts a small, green cabin situate...",0
4,1-0Eg9m5mfR826vGCst-EIvtp46SLvkME,The image depicts a street scene in an urban a...,0

                                  id  sentiment
0  1--1jGP5KDNudf-7pRj573DLxRmUxtcJF          1
1  1--A-Ab-GF3q2uxqJQtjbRrln9ywThW_9          0
2  1--C7ax88wK4BGL7xW7sOwROWv4mA3I0M          1
3  1--PRYQf4XSvxeD-JrYahBYnwWAUlLKTO          1
4  1-0Eg9m5mfR826vGCst-EIvtp46SLvkME          1

In [134]:
df_metrics = pd.DataFrame([])
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
for fold, (train_idx, val_idx) in enumerate(kfold.split(df)):
    train_df = pd.DataFrame({"text": df["text"].iloc[train_idx].to_list(), 
                                     "sentiment": df["sentiment"].iloc[train_idx].to_list()})
    val_df = pd.DataFrame({"text": df["text"].iloc[val_idx].to_list(), 
                                "sentiment": df["sentiment"].iloc[val_idx].to_list()})

    text = val_df["text"].to_list()
    target = val_df["sentiment"].to_list()
    # print(target)
    sentiments = np.unique(target)
    # print(len(sentiments))
    if (len(sentiments) == 3):
        sent_dic = {
            "Negative": 1,
            "Neutral": 0,
            "Positive": 2,
        }
        ids = df["id"].iloc[val_idx].to_list()
        # print(len(ids))
        # display(df_response[df_response["id"] == id])
        response = [df_response[df_response["id"] == id]["sentiment"].iloc[0] for id in ids]
    elif (len(sentiments) == 2):
        # P2+
        # sent_dic = {
        #     "Negative": 1,
        #     "Neutral": 0,
        #     "Positive": 0,
        # }
        ids = df["id"].iloc[val_idx].to_list()
        response = [df_response[df_response["id"] == id]["sentiment"].iloc[0] for id in ids]
        # P2 -
        sent_dic = {
            "Negative": 0,
            "Neutral": 0,
            "Positive": 1,
        }
    else:
        sent_dic = {
            "Positive": 4,
            "Slightlypositive": 3,
            "Neutral": 2,
            "Slightlynegative": 1,
            "Negative": 0
        }
        ids = df["id"].iloc[val_idx].to_list()
        response = [df_response[df_response["id"] == id]["sentiment"].iloc[0] for id in ids]
    # print(response)
    # print(target)
    pred = []
    for s in response:
        pred.append(s)
        # pred.append(sent_dic[s.replace(' ', '')])

    # print(pred)
    # break
    accuracy_val = accuracy_score(target, pred)
    f1_val = f1_score(target, pred, average="weighted")    
    df_metrics = pd.concat([df_metrics, pd.DataFrame({"accuracy": [accuracy_val], "f1_score": [f1_val]
                                                         })], axis=0)
df_metrics.head()

   accuracy  f1_score
0  0.225201  0.237110
0  0.223861  0.234058
0  0.245308  0.258159
0  0.240268  0.256118
0  0.226846  0.239978

In [135]:
f1_scores = df_metrics["f1_score"].to_list()
mean_f1 = np.mean(f1_scores)


# define the confidence level
confidence_level = 0.95
degrees_freedon = len(f1_scores)-1

confidence_interval = stats.t.interval(
    confidence_level, 
    degrees_freedon, 
    loc=mean_f1, 
    scale=stats.sem(f1_scores)
)

print(f"Max F1-score: {max(f1_scores)}")
print(f"Average F1-score: {mean_f1}")
print(f"Confidence interval 95%: {confidence_interval}")
print(f"Inteval: {abs(confidence_interval[0]-mean_f1)} - Interval: {abs(confidence_interval[1]-mean_f1)}")
confidence_interval = stats.t.interval(
    confidence_level, 
    degrees_freedon, 
    loc=max(f1_scores), 
    scale=stats.sem(f1_scores)
)

print(f"Inteval: {abs(confidence_interval[0]-max(f1_scores))} - Interval: {abs(confidence_interval[1]-max(f1_scores))}")

Max F1-score: 0.258158842158427
Average F1-score: 0.24508443483287284
Confidence interval 95%: (0.23114752173489417, 0.2590213479308515)
Inteval: 0.013936913097978676 - Interval: 0.013936913097978676
Inteval: 0.013936913097978676 - Interval: 0.013936913097978676

In [136]:
print(f"100 - Max F1-score: {1-max(f1_scores)}")

100 - Max F1-score: 0.741841157841573

In [12]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

# Define paths
input_folder = "/home/neemias/PerceptSent-LLM-approach/data/deepseek/"
response_folder = "/home/neemias/PerceptSent-LLM-approach/data/deepseek-only/"
output_folder = "/home/neemias/PerceptSent-LLM-approach/data/dataset_deepseek_ids"

# Ensure output directory exists
os.makedirs(output_folder, exist_ok=True)

# List all CSV files in the input folder
csv_files = [f for f in os.listdir(input_folder) if f.endswith(".csv")]
print(len(csv_files))
response_files = [f for f in os.listdir(response_folder) if f.endswith(".csv")]

for csv_file in csv_files:
    print(f"===Input file: {csv_file}===")
    df = pd.read_csv(os.path.join(input_folder, csv_file))
    # corresponding_response_file = next((f for f in response_files if f"alpha{csv_file.split('_alpha')[1].split('.')[0]}" in f), None)
    print(len(df))
    # if corresponding_response_file:
    file =  f"alpha{csv_file.split('_alpha')[1].split('.')[0]}.csv"
    file = file.replace('_', '').replace('neg', '').replace('plus', '')
    print(file)
    df_response = pd.read_csv(os.path.join(response_folder, file))
    df = df[df["id"].isin(df_response["id"])]
    df = df.sort_values(by='id').reset_index(drop=True)
    df_response = df_response.sort_values(by='id').reset_index(drop=True)
    
    kfold = KFold(n_splits=5, shuffle=True, random_state=42)
    
    for fold, (train_idx, val_idx) in enumerate(kfold.split(df)):
        train_df = df.iloc[train_idx][['id', 'text', 'sentiment']]
        val_df = df.iloc[val_idx][['id', 'text', 'sentiment']]
        
        train_filename = f"{os.path.splitext(csv_file)[0]}_fold{fold}_train.csv"
        val_filename = f"{os.path.splitext(csv_file)[0]}_fold{fold}_val.csv"
        
        train_df.to_csv(os.path.join(output_folder, train_filename), index=False)
        val_df.to_csv(os.path.join(output_folder, val_filename), index=False)

12
===Input file: percept_dataset_alpha5_p3.csv===
1680
alpha5p3.csv
===Input file: percept_dataset_alpha3_p2neg.csv===
5000
alpha3p2.csv
===Input file: percept_dataset_alpha4_p5.csv===
1484
alpha4p5.csv
===Input file: percept_dataset_alpha4_p3.csv===
2978
alpha4p3.csv
===Input file: percept_dataset_alpha3_p2plus.csv===
5000
alpha3p2.csv
===Input file: percept_dataset_alpha5_p5.csv===
446
alpha5p5.csv
===Input file: percept_dataset_alpha3_p5.csv===
3566
alpha3p5.csv
===Input file: percept_dataset_alpha5_p2plus.csv===
2525
alpha5p2.csv
===Input file: percept_dataset_alpha5_p2neg.csv===
2532
alpha5p2.csv
===Input file: percept_dataset_alpha4_p2plus.csv===
3843
alpha4p2.csv
===Input file: percept_dataset_alpha3_p3.csv===
4506
alpha3p3.csv
===Input file: percept_dataset_alpha4_p2neg.csv===
3913
alpha4p2.csv